@import 'reset';

$purpleHint: #6B2375;
$redPLayer: #8F0908;
$yellowPlayer: #D6A407;
$bluePlayer: #2980DD;

%button-hover {
  &:hover {
    color: white;
    cursor: pointer;
  }
  &:disabled {
    color: grey;
  }
  &:active {
    color: blue;
  }
}

li {
  @extend %button-hover;
  list-style: none;
}

.solve-button {
  @extend %button-hover
}

header {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;

  section {
    border-left: 2px solid black;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
  }

  .player {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "playerName playerName"
        "total score";
  }

  .round {
    flex-grow: .25;
  }
}

.player1 {

}

.player2 {

}



.player-label-total {
  grid-area: total;
  justify-self: center;
  font-weight: 700;
}

.player-label-score {
  grid-area: score;
  justify-self: center;
  font-weight: 700;
}

.player-name {
  grid-area: playerName;
  justify-self: center;
  padding-right: 10px;
  padding-bottom: 10px;
}

.player-value-total, 
.player-value-score {
  padding-right: 7px;
}

main {
  display: grid;
  grid-template-columns: auto 150px;
  align-items: center
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.4em;
  margin: 5px;
}

.hint {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  margin: 7px;
}

.wheel {
  border-left: 3px solid black;
  height: 65vh;
  width: 150px;
  background-color: lightblue;
  overflow: hidden;
  position: relative;

  li {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
  }

  .bankrupt {
    font-size: 1.5em;
    padding: 13px;
  }
}

.arrow-icon {
  height: 20px;
  position: absolute;
  width: 20px;
  left: -5px;
  top: 31vh;
}

.gameboard {
  background-color: rgb(164, 226, 207);
  border: 8px solid rgb(117, 172, 248);
  display: grid;
  grid-template-columns: repeat(13, 60px);
  grid-gap: 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  width: 820px;
}

.tile {
  background-image: url('images/tile-background.jpg');
  background-size: 54px 65px;
  border: 5px solid black;
  height: 65px;
  width: 50px;
}

.guesses-container {
  display: flex;
  justify-content: space-between;
}

.spin-button {
  width: 150px;
  height: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.letter-section-container {
  background-color: grey;
  display: flex;
  justify-content: space-around;

  .letter-list {
    border-right: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .vowels-list {
    flex-grow: .25;
  }
  
  .consonants-list {
    flex-grow: 1;
  }

  .solve-button {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    padding: auto;
  }
}

.instructions-container {
  background-color: lightgray;


  .instructions-content, 
  .instructions-current-player {
    display: inline-block;
    padding: 20px;
  }
}

