@import 'reset';

$purpleHint: #6B2375;
$purplePlayer: rgb(67, 32, 118);
$greenPlayer: rgb(62, 142, 111);
$bluePlayer: rgb(22, 132, 165);

%button-hover {
  &:hover {
    color: white;
    cursor: pointer;
  }
  &:disabled {
    color: grey;
  }
  &:active {
    color: blue;
  }
}

li {
  @extend %button-hover;
  list-style: none;
}

.solve-button {
  @extend %button-hover;
}

.start-game-popup {
  background-color: grey;
  position: absolute;
  top: calc(50vh - 150px);
  right: calc(50vw - 300px);
  width: 600px;
  height: 300px;
}

.hide {
  display: none;
}

//////////////HEADER SECTION

header {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 150px;
  align-items: center;

  section {
    border: 2px solid black;
    color: rgb(247, 247, 247);
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 9px 9px 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
  }

  .round {
    align-items: center;
    background-image: radial-gradient( rgb(114, 114, 114), rgb(31, 31, 31), black,);
    display: flex;
    border-right: 0px;
    height: 69px;
    font-weight: 700;
    padding: 0;
    width: 150px;
  }

  .player {
    border-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "playerName playerName"
        "total score";
  }

}

.player1 {
  background-image: linear-gradient(to right, $bluePlayer, rgb(105, 224, 228));
}

.player2 {
  background-image: linear-gradient(to right, $purplePlayer, rgb(167, 82, 236));
}

.player3 {
  background-image: linear-gradient(to right, $greenPlayer, rgb(104, 226, 184));
}


.player-label-total {
  grid-area: total;
  font-weight: 700;
}

.player-label-score {
  grid-area: score;
  font-weight: 700;
}

.player-name {
  grid-area: playerName;
  padding-right: 10px;
  padding-bottom: 10px;
}

.player-value-total, 
.player-value-score {
  padding-right: 7px;
}

///////////////GAME SECTION

main {
  background-image: url('images/background.png');
  background-size: cover;
  display: grid;
  grid-template-columns: auto 151px;
  align-items: center
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.4em;
  margin: 5px;
  background: linear-gradient(to top right, rgb(167, 151, 108), rgb(255, 246, 120), rgb(187, 164, 105));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hint {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  margin: 7px;
}

.wheel {
  border-left: 4px solid $bluePlayer;
  height: 65vh;
  width: 151px;
  background-color: lightblue;
  overflow: hidden;
  position: relative;

  li {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
  }

  .bankrupt {
    font-size: 1.2em;
    padding: 16px 8px 16px;
  }

  .lose-turn {
    font-size: 1em;
    padding: 17px 6px 17px;
  }
}

.arrow-icon {
  height: 20px;
  position: absolute;
  width: 20px;
  left: -5px;
  top: 31vh;
}

.gameboard {
  background-color: rgb(164, 226, 207);
  border-image: linear-gradient(to right, #81f0ff, #0063c0) 30;
  border-width: 7px;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(13, 60px);
  grid-gap: 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  width: 820px;
}

.tile {
  background-image: url('images/tile-background.jpg');
  background-size: 54px 65px;
  border: 5px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3.4em;
  text-align: center;
  height: 58px;
  width: 50px;
}

.display-tile {
  background-image: none;
  background-color: white;
}

.guesses-container {
  display: flex;
  justify-content: space-between;
}

.spin-button {
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 0;
}

/////////////FOOTER SECTION

footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.letter-section-container {
  background-color: grey;
  display: flex;
  justify-content: space-around;

  .letter-list {
    border-right: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .vowels-list {
    flex-grow: .25;
  }
  
  .consonants-list {
    flex-grow: 1;
  }

  .solve-button {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    padding: auto;
  }
}

.instructions-container {
  background-color: lightgray;


  .instructions-content, 
  .instructions-current-player {
    display: inline-block;
    padding: 20px;
  }
}

