footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.letter-section-container {
  background-color: grey;
  display: flex;
  justify-content: space-around;

  .letter-list {
    border-right: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .vowels-list {
    flex-grow: .25;
  }
  
  .consonants-list {
    flex-grow: 1;
  }

  .solve-button {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    padding: auto;
  }
}

.instructions-container {
  background-color: lightgray;


  .instructions-content, 
  .instructions-current-player {
    display: inline-block;
    padding: 20px;
  }
}

