/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  align-items: center;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 150px;
}
header section {
  border: 2px solid black;
  border-bottom-width: 4px;
  color: #f7f7f7;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex-grow: 1;
  justify-content: space-around;
  padding: 9px 9px 2px;
  position: relative;
}

header section .add-score-container {
  bottom: -35px;
  border: 3px solid silver;
  border-radius: 0px 0px 15px 15px;
  color: white;
  background-image: linear-gradient(to top right, black, #222222, black);
  position: absolute;
  right: -1px;
  transition: all 0.3s ease;
  z-index: 3;
}
header section .add-score-container .add-score {
  padding: 5px 50px;
}
header .round {
  align-items: center;
  background-image: radial-gradient(#727272, #1f1f1f, black);
  border-right: 0px;
  display: flex;
  height: 69px;
  font-weight: 700;
  padding: 0;
  width: 150px;
}
header .player {
  border-left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "playerName playerName" "total score";
}
header .highlight {
  background-image: linear-gradient(to top right, #a7976c, #fff678, #bba469);
  border-bottom-color: silver;
  color: black;
}

.player1 {
  background-image: linear-gradient(to right, #1684a5, #69e0e4);
}

.player2 {
  background-image: linear-gradient(to right, #432076, #a752ec);
}

.player3 {
  background-image: linear-gradient(to right, #3e8e6f, #68e2b8);
}

.player-label-total {
  grid-area: total;
  font-weight: 700;
}

.player-label-score {
  grid-area: score;
  font-weight: 700;
}

.player-name {
  grid-area: playerName;
  padding-right: 10px;
  padding-bottom: 10px;
}

.player-value-total,
.player-value-score {
  padding-right: 7px;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.letter-section-container {
  background-image: linear-gradient(to top right, #5a5a5a, #b8b8b8);
  display: flex;
  justify-content: space-around;
}
.letter-section-container .letter-list {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: relative;
}
.letter-section-container .vowels-list {
  flex-grow: 0.25;
}
.letter-section-container .consonants-list {
  flex-grow: 1;
}
.letter-section-container .solve-button {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
  padding: auto;
}

.solve-button:hover, .consonant:hover,
.vowel:hover {
  color: white;
  cursor: pointer;
}
.solve-button:disabled, .consonant:disabled,
.vowel:disabled {
  color: #4d4d4d;
}
.solve-button:active, .consonant:active,
.vowel:active {
  color: #69e0e4;
}

.consonant,
.vowel {
  background: none;
  border: 0;
  font-size: 1.2em;
}

.solve-button {
  font-style: italic;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.instructions-container {
  background-image: linear-gradient(to top right, black, #1d1d1d);
  height: 70px;
  color: white;
}
.instructions-container .instructions-content,
.instructions-container .instructions-current-player {
  display: inline-block;
  padding: 20px;
}

.settings-container {
  float: right;
}
.settings-container:hover .settings-menu {
  display: block;
}

.settings-menu {
  background-image: linear-gradient(to top right, black, #222222, black);
  border: 3px solid #a752ec;
  border-radius: 15px;
  bottom: 27px;
  color: #8b8b8b;
  display: none;
  position: absolute;
  right: 10px;
}
.settings-menu h4 {
  padding: 15px;
}
.settings-menu h4:hover {
  color: white;
  cursor: pointer;
}
.settings-menu .new-game-button {
  padding-bottom: 0px;
}

.settings-icon {
  color: #3d3d3d;
  float: right;
  font-size: 2.2em;
  margin: 10px 20px;
}
.settings-icon:hover {
  color: white;
  cursor: pointer;
}

body {
  background: black;
  min-width: 1050px;
  overflow: scroll;
}

.dark-overlay {
  background-color: black;
  bottom: 0;
  opacity: 0.7;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}

.popup {
  background-image: radial-gradient(#727272, #1f1f1f, black);
  border: 3px solid #a752ec;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: calc(50vw - 225px);
  top: calc(15vh);
  width: 600px;
  z-index: 5;
}
.popup .solve-input, .popup .input-player3-name, .popup .input-player2-name, .popup .input-player1-name {
  border-radius: 20px;
  height: 35px;
  margin: 15px auto;
  text-align: center;
  width: 80%;
  font-size: 1.4em;
}
.popup .input-player1-name {
  border: 3px solid #69e0e4;
}
.popup .input-player1-name:hover {
  border-color: #1684a5;
}
.popup .input-player2-name {
  border: 3px solid #a752ec;
}
.popup .input-player2-name:hover {
  border-color: #432076;
}
.popup .input-player3-name {
  border: 3px solid #68e2b8;
}
.popup .input-player3-name:hover {
  border-color: #3e8e6f;
}
.popup .new-game {
  background: linear-gradient(to top right, #d4bb75, #fff678, #bba469);
  background-clip: text;
  font-family: "Alfa Slab One", cursive;
  font-size: 2.4em;
  margin: 20px auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.go-button {
  background-image: linear-gradient(to top right, #d4bb75, #fff678, #bba469);
  border: 3px solid white;
  border-radius: 20px;
  color: black;
  font-size: 1.4em;
  margin: 20px auto 20px;
  padding: 10px;
  width: 70%;
}
.go-button:hover {
  background-image: none;
  background-color: white;
  border-color: #dbd35f;
}
.go-button:disabled {
  background-image: linear-gradient(to top right, #d4bb75, #fff678, #bba469);
  border: 3px solid white;
  opacity: 0.6;
}

.action-popup-main-info {
  background: linear-gradient(to top right, #919191, #f0f0f0, #818181);
  background-clip: text;
  font-family: "Alfa Slab One", cursive;
  font-size: 2.4em;
  margin: 20px auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action-popup-secondary-info {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
  text-align: center;
}

.hide {
  display: none;
}

.solve-popup {
  top: calc(55vh);
}

.solve-input {
  border: 3px solid #a752ec;
  margin-top: 20px;
}
.solve-input:hover {
  border-color: #432076;
}

#cancel-button {
  background-image: linear-gradient(to top right, #5e5e5e, #c9c9c9, #9b9b9a);
  margin-top: 0px;
}
#cancel-button:hover {
  background-image: none;
  background-color: white;
  border-color: #7c7c7c;
}

main {
  align-items: center;
  background-image: url("../images/background.png");
  background-size: cover;
  display: grid;
  grid-template-columns: auto 153px;
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.game-title {
  background: linear-gradient(to top right, #d4bb75, #fff678, #bba469);
  background-clip: text;
  font-family: "Alfa Slab One", cursive;
  font-size: 2.6em;
  padding-top: 40px;
  margin: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gameboard {
  background-color: #a4e2cf;
  border-image: linear-gradient(to right, #af89ec, #0063c0) 30;
  border-width: 7px;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(14, 60px);
  grid-gap: 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  width: 880px;
}

.tile {
  background-image: url("../images/tile-background.jpg");
  background-size: 54px 65px;
  border: 5px solid black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3.1em;
  padding-top: 6px;
  text-align: center;
  height: 58px;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.display-tile {
  background-image: none;
  background-color: white;
}

.hide-letter {
  color: white;
}

.hint {
  background-image: linear-gradient(to right, rgba(246, 239, 255, 0), #432076, #6B2375, rgba(246, 239, 255, 0));
  color: white;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  margin: 7px;
  padding: 5px;
  text-align: center;
  width: 850px;
}

.guesses-container {
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  right: 20px;
}

.past-guesses {
  align-self: flex-start;
  bottom: 10px;
  height: 20px;
  display: flex;
  justify-self: flex-start;
  margin: 17px;
  position: relative;
}
.past-guesses .past-guess {
  font-family: "Open Sans", sans-serif;
  font-size: 1.9em;
  color: white;
  margin: 10px;
}

.wheel {
  border-left: 4px solid black;
  height: 65vh;
  width: 153px;
  background-color: #8b8b8b;
  overflow: hidden;
  position: relative;
}
.wheel li {
  border-bottom: 3px solid black;
  font-family: "Alfa Slab One", cursive;
  font-size: 2em;
  padding: 10px;
  text-align: center;
}
.wheel .wheel-overlay {
  background-color: #5fff5f;
  height: 58px;
  opacity: 0.5;
  left: 0;
  position: absolute;
  top: 217px;
  right: 0;
  z-index: 2;
}

.arrow-icon {
  height: 25px;
  position: absolute;
  width: 25px;
  left: -7px;
  top: 233px;
  z-index: 3;
}

.spin-button {
  background-image: linear-gradient(to top right, #d4bb75, #fff678, #bba469);
  bottom: 0;
  height: 60px;
  font-style: italic;
  font-size: 1.4em;
  position: absolute;
  right: 0px;
  width: 155px;
}
.spin-button:hover {
  background-image: linear-gradient(to top right, #d3bf8a, #fffab6, #e9cc84);
}
.spin-button:disabled {
  background-image: linear-gradient(to top right, #796d4e, #b8b487, #9e8b5b);
}

/*# sourceMappingURL=style.css.map */
